@import "font-awesome/font-awesome";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "h5bp";
@import "fonts";

$visual-grid: true;

$dark_magento: #af1d4c;
$light_magento: #d71c53;
$magento_shade: #d78ea6;
$white: #ffffff;
$light_grey: #f0f0f0;

h1,h2 {
    font-family: 'Gabriela', serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: $dark_magento;
    &:hover{
        color: $light_magento;
    }
}

h1{
    font-size:32px;
}

h2{
    font-size:24px;
}

h3{
    font-weight:700;
    margin-bottom:0;
}

hr {
        width: 30px;
        margin: auto;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header[role="banner"] {
    background: none repeat scroll 0 0 $dark_magento;
    height: 88px;
    width: 100%;
    padding: 0 15px;
    .header-container {
         @include outer-container;

         .logo-container{
            @include span-columns(6);
         }
         .menu-container{
            @include span-columns(6);
         }
    }

}

.heart-container{
    /* TODO: center without width check technique when I have internet connection */
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

.heart-container pre{
    font-family:courier new;
    font-size: 11px; 
    text-align:center;
    line-height: 1.0;
    margin: 0;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
    &.beat{
       opacity: 1;
       -webkit-font-smoothing: none;
       letter-spacing:0.1px;
       font-family:courier new;

    }
}

.hide{
    display: none;
}

ul#menu-top-nav{
    list-style-type:none;
    margin-top:30px;
    padding:0;

    li {
        display:inline;
        float: right;
        margin-left:30px;
        a{
        color : $magento_shade;
        text-decoration : none;
        font-size : 24px;
          &:hover{
            color : $white;

          }
        }
    }
}


header hgroup h1 {
    background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 40px;
    text-indent: -9999em;
    margin:0;
}

header hgroup {
    margin: 0;
    padding-top: 24px;
    width: 205px;
}

.tagline-wrapper {
    background-color: $light_magento;
    height: 255px;
}



.work-wrapper {
    background-color: $light_grey;
    min-height: 250px;
}

.contact-wrapper {
    background-color: $light_magento;
    min-height: 190px;
    color : $white;
}

footer {
    background-color: $dark_magento;
    min-height: 55px;
    color : $magento_shade;
}

.tagline-container{
     @include outer-container;
     .tagline{

         padding-top:60px;
         @include media($mobile) {
          @include span-columns(10);
          @include shift(1);
         }
         @include media($desktop) {
             @include span-columns(4);
             @include shift(4);

          }
         text-align:center;
         color: $white;
         h2 {
         opacity:0.85;
         }
     }
}

.intro-wrapper {
    background-color: $white;
    min-height: 255px;

}
.intro-container{
    @include outer-container;
    padding-top:45px;
    text-align: center ;

    p {
        text-align: left;
    }

    div {
        margin-bottom: 3em;
    }

     .who-are-we{
          @include media($mobile) {
              @include span-columns(10);
              @include shift(1);
          }
          @include media($desktop) {
            @include span-columns(5);
            @include shift(1);
          }
     }
     .collaboration{
          @include media($mobile) {
              @include span-columns(10);
              @include shift(1);
            
          }
          @include media($desktop) {
            @include span-columns(5);
            
            @include omega;

          }

     }

     .build-with-care{
          @include media($mobile) {
                @include span-columns(10);
                @include shift(1);
          }
          @include media($desktop) {
            @include span-columns(5);
            @include shift(1);
          }

     }
     .guidance{
          @include media($mobile) {
              @include span-columns(10);
              @include shift(1);
          }
          @include media($desktop) {
            @include span-columns(5);
            @include omega;
          }

     }

}

.work-container{
     @include outer-container;
     .work{
         padding-top:45px;
         @include span-columns(10);
         @include shift(1);
         text-align:center;
     }
}

.clients-container{
     @include outer-container;
     .clients{
         padding-top:25px;
         @include span-columns(10);
         @include shift(1);
         text-align:center;
     }

     ul{
        padding: 0;
        list-style-type:none;
        li {
            display: inline-table;
            margin-bottom: 20px;
            padding: 0 10px;
        }
    }
}
.portfolio-container {
     @include outer-container;
     div {
       @include span-columns(4);
       @include omega(4n);
       margin-bottom: 1em;

       img {
         width: 305px;
         height: 200px;
       }
     }
}
.belief-container{
     @include outer-container;
     .belief {
         padding-top:45px;
         @include span-columns(10);
         @include shift(1);

         .intro {
             text-align: center;
         }

         ul { 
            list-style-type: none;
            padding: 0;
            margin: 0;

            p {
                margin: 0;
            }

            li {
                margin-bottom: 3em;
            }

            li:last-child {
                margin-bottom: 5em;
            }
        }
     }
}
.contact-container{
     @include outer-container;
     .twitter-contact {
         padding-top:60px;
         @include media($mobile) {
            @include span-columns(10);
            @include shift(1);
          }
          @include media($desktop) {
            @include span-columns(4);
            @include shift(2);
          }


         text-align:center;
     }
      .mail-contact {
          @include media($mobile) {
            @include span-columns(10);
            @include shift(1);
          }
          @include media($desktop) {
            @include span-columns(4);
          }

         padding-top:60px;
         @include span-columns(4);
         text-align:center;
     }
     a {
       color : $white;
     }
}

.footer-container{
     @include outer-container;
     .company-registration {
         @include span-columns(8);
         @include shift(2);
         text-align:center;
     }
}
