@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);
button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-radius: 0px;
  border: solid 2px #30b7c4;
  color: #30b7c4;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: capitalize; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #30b7c4;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #30b7c4;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(43, 164, 176, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #30b7c4;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #217e87; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body, html {
  height: 100%;
  min-width: 960px;
  background-color: #fcfcfc; }

body.home header.navbar {
  background-color: transparent; }

header.navbar {
  width: 100%;
  height: 90px;
  background-color: black; }
  header.navbar .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    header.navbar .logo:last-child {
      margin-right: 0; }
    header.navbar .logo h1 {
      margin-top: 25px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      height: 40px;
      width: 200px;
      background: transparent url("/static/imgs/logo.svg") no-repeat center center;
      background-size: cover; }
  header.navbar .menu {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    text-align: right; }
    header.navbar .menu:last-child {
      margin-right: 0; }
    header.navbar .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      header.navbar .menu ul li {
        display: inline-block; }
        header.navbar .menu ul li:hover {
          background-color: #44bdc9; }
        header.navbar .menu ul li a {
          padding: 33px 20px;
          color: white !important;
          display: inline-block; }

.container {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  .container h3 {
    text-transform: uppercase; }

.grid-3 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: center;
  vertical-align: middle;
  height: 120px;
  line-height: 120px; }
  .grid-3 .block:last-child {
    margin-right: 0; }
  .grid-3 .block:nth-child(3n) {
    margin-right: 0; }
  .grid-3 .block:nth-child(3n+1) {
    clear: left; }
  .grid-3 .block img {
    max-height: 80px;
    max-width: 170px; }

.omega {
  margin-right: 0; }

.col-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .col-1:last-child {
    margin-right: 0; }

.col-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .col-2:last-child {
    margin-right: 0; }

.col-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .col-3:last-child {
    margin-right: 0; }

.col-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .col-4:last-child {
    margin-right: 0; }

.col-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .col-5:last-child {
    margin-right: 0; }

.col-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .col-6:last-child {
    margin-right: 0; }

.wrapper {
  height: auto !important;
  height: 100%;
  width: 100%; }
  .wrapper.tagline {
    margin-top: -90px;
    background: transparent url("/static/imgs/home-tagline-bg.png") no-repeat center center;
    background-size: cover;
    background-color: black;
    color: white;
    min-height: 690px; }
    .wrapper.tagline h1 {
      margin-top: 190px;
      text-align: center;
      font-size: 50px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      margin-left: 12.79471%; }
      .wrapper.tagline h1:last-child {
        margin-right: 0; }
  .wrapper.aboutus {
    padding: 145px 0;
    background: url("/static/imgs/home-aboutus-bg.png") no-repeat center center, linear-gradient(#2bbac6, #6695ab);
    background-size: cover;
    color: white;
    min-height: 560px; }
    .wrapper.aboutus h3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-right: 0;
      font-size: 25px; }
      .wrapper.aboutus h3:last-child {
        margin-right: 0; }
    .wrapper.aboutus p {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .wrapper.aboutus p:last-child {
        margin-right: 0; }
      .wrapper.aboutus p:nth-of-type(2) {
        margin-right: 0; }
    .wrapper.aboutus .actions {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-top: 20px; }
      .wrapper.aboutus .actions:last-child {
        margin-right: 0; }
    .wrapper.aboutus button {
      color: white;
      border-color: white; }
      .wrapper.aboutus button:hover, .wrapper.aboutus button:focus {
        background-color: white;
        color: #30b7c4;
        border-color: white; }
  .wrapper.clients {
    padding: 65px 0;
    background-color: #fcfcfc;
    color: #30b7c4;
    min-height: 350px; }
    .wrapper.clients h3 {
      font-size: 25px;
      text-align: center; }
    .wrapper.clients .logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center;
      vertical-align: middle;
      height: 120px;
      line-height: 120px; }
      .wrapper.clients .logo:last-child {
        margin-right: 0; }
      .wrapper.clients .logo:nth-child(3n) {
        margin-right: 0; }
      .wrapper.clients .logo:nth-child(3n+1) {
        clear: left; }
      .wrapper.clients .logo img {
        max-height: 80px;
        max-width: 170px; }
    .wrapper.clients .actions {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: center;
      margin-top: 20px; }
      .wrapper.clients .actions:last-child {
        margin-right: 0; }
  .wrapper.registration {
    padding-top: 5px;
    color: #999;
    background-color: #222;
    text-align: center;
    font-size: 12px; }
  .wrapper.project {
    min-height: 700px;
    padding-bottom: 40px; }
    .wrapper.project h2 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      text-transform: uppercase;
      font-size: 25px;
      color: #44bdc9;
      margin: 40px 0 40px; }
      .wrapper.project h2:last-child {
        margin-right: 0; }
    .wrapper.project .summary {
      margin-top: 40px; }
      .wrapper.project .summary h3 {
        color: #44bdc9; }
      .wrapper.project .summary p {
        font-weight: bold; }
    .wrapper.project button.link {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%;
      margin-right: 0;
      margin: 35px 0 0; }
      .wrapper.project button.link:last-child {
        margin-right: 0; }
    .wrapper.project .labels {
      min-height: 80px; }
      .wrapper.project .labels .client, .wrapper.project .labels .agency, .wrapper.project .labels .award {
        display: inline-block;
        margin-right: 20px; }
      .wrapper.project .labels .label {
        color: #999;
        font-size: 14px; }
  .wrapper.projects {
    min-height: 700px;
    padding-bottom: 200px;
    background-color: #fcfcfc; }
    .wrapper.projects h2 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-right: 0;
      text-transform: uppercase;
      font-size: 25px;
      color: #44bdc9;
      margin: 40px 0 0; }
      .wrapper.projects h2:last-child {
        margin-right: 0; }
    .wrapper.projects .item {
      margin-top: 40px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .wrapper.projects .item:last-child {
        margin-right: 0; }
      .wrapper.projects .item:nth-child(4n) {
        margin-right: 0; }
      .wrapper.projects .item:nth-child(4n+1) {
        clear: left; }
      .wrapper.projects .item img {
        height: 190px;
        width: 220px; }
      .wrapper.projects .item .title {
        font-size: 18px; }
        .wrapper.projects .item .title a {
          color: #222; }
      .wrapper.projects .item .client {
        color: #999; }

body.work .tagline {
  text-transform: uppercase;
  font-weight: 900; }
body.work .section {
  padding: 100px 0; }
  body.work .section h3 {
    color: #bbb;
    font-size: 25px;
    font-weight: 900; }
  body.work .section.grey {
    background-color: #f0f0f0; }
    body.work .section.grey h3 {
      color: #ccc; }
  body.work .section.dark {
    background-color: #26292b;
    color: #fcfcfc; }
    body.work .section.dark h3 {
      color: #444a4d; }
body.work .case-study p {
  margin-bottom: 2em; }

footer {
  padding: 40px 0;
  line-height: 2;
  background-color: #f5f5f5; }
  footer .contact {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    footer .contact:last-child {
      margin-right: 0; }
    footer .contact a {
      text-decoration: none;
      color: #222; }
      footer .contact a:hover {
        color: #222; }
  footer .address {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding-left: 80px;
    background: transparent url("/static/imgs/address.svg") no-repeat left 15px top 5px; }
    footer .address:last-child {
      margin-right: 0; }
  footer .phonenumber {
    padding-left: 80px;
    background: transparent url("/static/imgs/phonenumber.svg") no-repeat left 15px center;
    margin-top: 15px; }
  footer .email {
    padding-left: 80px;
    background: transparent url("/static/imgs/email.svg") no-repeat left 15px center; }
  footer .twitter {
    padding-left: 80px;
    background: transparent url("/static/imgs/twitter.svg") no-repeat left 15px center;
    margin-top: 15px; }

/*# sourceMappingURL=main.css.map */
