<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Lost Property &#x2764; We Love Development</title>
        <meta name="description" content="Lost Property is a product agency with a passion for creating products that people actually want to use." />
    <meta name="keywords" content="python, javascript, product, technology, utility, lost property, international, craft, web, digital" />

        <meta name="viewport" content="width=device-width" />

        <!-- social google tags -->
        <meta itemprop="name" content="Lost property" />
        <meta itemprop="description" content="Lost Property is a product agency with a passion for creating products that people actually want to use." />
        <!-- facebook need absolute url -->
        <meta itemprop="image" content="http://lostpropertyhq.com/static/images/icons/logo_stack_magento.jpg" />


        <!-- social opengraph (facebook) tags -->
        <meta content='595380441,557607505' property='fb:admins' />
        <meta property="og:title" content="Lost Property" />
        <!-- facebook need absolute url -->
        <meta property="og:image" content="http://lostpropertyhq.com/static/images/icons/logo_stack_magento.jpg" />
        <meta property="og:description" content="Lost Property is a product agency with a passion for creating products that people actually want to use." />

        <!-- style -->
        <link rel="stylesheet" href="/static/css/normalize.min.css" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <!-- icons -->
        <link rel="shortcut icon" href="/static/images/icons/favicon.ico">
        <link rel="apple-touch-icon" href="/static/images/icons/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/static/images/icons/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/static/images/icons/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/static/images/icons/apple-touch-icon-144x144-precomposed.png" />

        <!-- scripts -->
        <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <!--[if lte IE 7]><script src="/static/js/lte-ie7.js"></script><![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <header role="banner">

                <div class="header-container">
                    <div class="logo-container">
                    <hgroup>
                         <a href="/" rel="home">
                            <h1>Lost Property</h1>
                        </a>
                     </hgroup><!-- end hgroup -->
                    </div>
                    <!-- wrapper div for Firefox 3.x ref: http://01i.jp/html5bll -->
                    <div class="menu-container">
                    <ul id="menu-top-nav" >
                            <li id="menu-item-mail" >

                                <a target="_blank" href="mailto:hello@lostpropertyhq.com">
                                    <span class="icon-envelope" aria-hidden="true"></span>
                                    <span class="visuallyhidden">Mail</span><!-- accessibility -->
                                </a>
                            </li>
                             <li id="menu-item-twitter">
                                 <a target="_blank" href="https://twitter.com/lostpropertyhq">
                                    <span class="icon-twitter" aria-hidden="true"></span>
                                    <span class="visuallyhidden">Twitter</span><!-- accessibility -->
                                </a>
                            </li>
                    </ul>
                    <!-- end #top-nav -->
                    </div>
               </div>
        </header>
        {% block content %}
        {% endblock %}

        <footer>
            <div class="footer-container">
                <div class="company-registration">
                <p>Lost Property Bureau Ltd is a company
								registered in England and Wales.<br/>
Registered no. 8605090. VAT Registration No 165 7973 58</p>
                </div>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/static/js/main.js"></script>


        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41731293-1', 'lostpropertyhq.com');
          ga('send', 'pageview');

        </script>
    </body>
</html>
