<section class='contact-wrapper'>
    <div class='contact-container'>

        <a target="_blank" href="https://twitter.com/lostpropertyhq">
            <div class='twitter-contact'>
                <img src='static/images/home_footer_twitter.png' alt='twitter icon'>
                <p>@lostpropertyhq<p>
            </div>
        </a>

        <a target="_blank" href="mailto:hello@lostpropertyhq.com">
            <div class='mail-contact'>
                <img src='static/images/home_footer_mail.png' alt='email icon'>
                <p>hello@lostpropertyhq.com</p>
            </div>
        </a>
    </div>
</section>
