{% set route='home' %}
{% extends "base.html" %}
{% block content %}
<section class='tagline wrapper'>
    <div class='container'>
        <div class='tagline'>
					<h1>{{config.TAGLINE}}</h1>
        </div>
    </div>
</section>
<section class='clients wrapper'>
    <div class='container'>
				<h3>we work with</h3>
				<div class="logos">
				{% for logo, link in config.LOGOS %}
				<div class="logo">
					<a href={{link}}>
						<img src="/static/imgs/logos/{{logo}}" />
					</a>
				</div>
				{% endfor %}
				</div>
        <div class="actions">
        <a href='/work.html'>
          <button>portfolio</button>
        </a>
        <div>
    </div>
</section>
<section class='aboutus wrapper'>
    <div class='container'>
				<h3>we are lost property</h3>
        <p>
				Lost Property was founded with the goal of providing great engineering skills to startups, agencies and businesses.<br/>We are a company of veteran developers, technologists and problem solvers used to working closely with the client. <br/> Our team is capable of dealing with uncertainty and equipped to solve difficult problems. 
</p>
<p>
We build software for the web and iOS and we love to create unique products that people love to use. We’re very good at helping both big and small companies to ship great quality products quickly or consult on existing products. We ensure that everything we are involved with keeps running smoothly. Approach us with crazy project ideas; we love challenges.
        </p>
        <div class="actions">
        <a href='/about.html'>
          <button>about us</button>
        </a>
        </div>
    </div>
</section>

{% endblock %}
