{% extends "base.html" %}
{% block content %}
<section class='tagline-wrapper'>
    <div class='tagline-container'>
        <div class='tagline'>
            <img src='static/images/home_heart.png'>
            <h2>Love Development.<h2>
        </div>
    </div>
</section>
<section class='intro-wrapper'>
    <div class='intro-container'>
        <div class='who-are-we'>
            <img src='static/images/home_code.png'>
            <h2>Who are we?</h2>
            <hr/>
            <p>
                We are a team of experienced, passionate developers and technologists based in London who would love to craft great digital products ...just for you.
            </p>
        </div>

        <div class='collaboration'>
            <img src='static/images/home_collaboration.png'>
            <h2>Collaboration.</h2>
            <hr/>
            <p>
               Aren't we lucky! That's right we have collaborated with some of the best in the business, providing them with technical guidance, digital product development and hosting architecture. <a target="_launch" href="mailto:hello@lostpropertyhq.com?subject=I want to collaborate with Lost Property">Contact us</a> to collaborate with you.
            </p>
        </div>

        <div class='build-with-care'>
             <img src='static/images/quill.png'>
            <h2>Build with Care.</h2>
            <hr/>
            <p>This company was formed because we had a passion for two things: building great products which people <em>actually</em> want to use, and writting robust, quality code. Craftmanship is integral to way we work. Want us to develop your next project? <a target="_launch" href="mailto:hello@lostpropertyhq.com?subject=I'm interested in development">Get in touch.</a></p>
        </div>

        <div class='guidance'>
            <img src='static/images/glasses.png'>
            <h2>Guidance.</h2>
            <hr/>
            <p>We love using our experience to help guide people. We can help you choose the best technologies for your project, write scopes or work, provide feasibility studies and build proof of concept prototypes. Need technical guidance? <a target="_launch" href="mailto:hello@lostpropertyhq.com?subject=I'm interested in Technical Guidance">Drop us an email.</a></p>
        </div>
    </div>
</section>
<section class='work-wrapper'>
    <div class='work-container'>
        <div class='work'>
            <img src='static/images/home_workwith.png'>
            <h2>We work with.</h2>
            <hr/>
        </div>
    </div>
    <div class='clients-container'>
        <div class='clients'>
            <ul>
                <li><img src="static/images/brands/teamMcLaren.png" alt="McLaren F1"/> </li>
                <li><img src="static/images/brands/teamGB.png" alt="Team GB"/> </li>
                <li><img src="static/images/brands/ballentines.png" alt="Ballantines"/> </li>
                <li><img src="static/images/brands/converse.png" alt="Robinsons"/> </li>
                <li><img src="static/images/brands/BMW.png" alt="BMW"/> </li>
                <li><img src="static/images/brands/youGov.png" alt="YouGov"/> </li>
                <li><img src="static/images/brands/google.png" alt="Google Creative Labs"/> </li>
                <li><img src="static/images/brands/skoda.png" alt="Skoda"/> </li>
                <!--<li><img src="static/images/brands/" alt="Vitamin water"/> </li>-->
                <li><img src="static/images/brands/sonyMusic.png" alt="Sony Music"/> </li>
                <!--<li><img src="static/images/brands/" alt="JWT"/> </li>-->
                <li><img src="static/images/brands/converse.png" alt="Converse"/> </li>
                <li><img src="static/images/brands/orange.png" alt="Orange"/> </li>
                <li><img src="static/images/brands/T_Mobile.png" alt="T-mobile"/> </li>
                <li><img src="static/images/brands/skype.png" alt="Skype"/> </li>
                <!--<li><img src="static/images/brands/" alt="Huffington Post"/> </li>-->
                <li><img src="static/images/brands/asos.png" alt="Asos"/></li>
            </ul>
        </div>
    </div>
</section>

<section class='belief-wrapper'>
    <div class='belief-container'>
        <div class='belief'>
            <img src='static/images/home_belief.png'>
            <h2>Our beliefs</h2>
            <hr/>
            <h3>Be Open.</h3>
            <p> We believe in working in an open and transparent way. We are passionate about Open Source technologies and give back to the community whenever possible.</p>
            <hr/>

            <h3>Be user-centric.</h3>
            <p>You need great people to build great things. Our team is highly experienced in building digital products and platforms. We love beautifully simple user experiences provided by elegant technical solutions.</p>
            <hr/>
            <h3>Innovate.</h3>
            <p> As a platform the internet has transformed the way we live, work and play. We want to part of it's next stage of innovation. </p>
            <hr/>
            <h3>Craft.</h3>
            <p> Great products require not only attention to detail but a deep understanding of the tools available to us. We believe in choosing the right tools for the job, continually learning and refining our tool-set.</p>
            <hr/>
            <h3>Communication.</h3>
            <p> Cross-discipline collaboration with our clients and creative partners, is the key to making great products. Clear, honest communication is integral to the way we work.</p>
        </div>


    </div>
</section>

<section class='contact-wrapper'>
    <div class='contact-container'>

        <a target="_launch" href="https://twitter.com/lostpropertyhq">
            <div class='twitter-contact'>
                <img src='static/images/home_footer_twitter.png'>
                <p>@lostpropertyhq<p>
            </div>
        </a>

        <a target="_launch" href="mailto:hello@lostpropertyhq.com">
            <div class='mail-contact'>
                <img src='static/images/home_footer_mail.png'>
                <p>hello@lostpropertyhq.com</p>
            </div>
        </a>
    </div>
</section>
{% endblock %}


