{% set route='work' %}
{% extends "base.html" %}
{% block content %}
<div class="wrapper projects">
	<div class="container">
		<h2>Our work</h2>
	</div>
	<div class="container">
		{% for key, project in config.PROJECTS.items() %}
			 <div class="item">
         <a href="/work/{{key}}.html" >
           <img src="/static/projects/{{key}}/thumb.jpg" />
         </a>
         <div class="caption">
           <div class="title">
             <a href="/work/{{key}}.html" >
               {{project.title}}
             </a>
           </div>
           <div class="client"> 
              {% if project.client %}
                {{ project.client }}
              {% endif %}
              {% if project.client and project.agency%},{% endif %}
              {{project.agency}}
           </div>
         </div>
			 </div>
		{% endfor %}
	</div>
</div>
{% endblock %}
