{% extends "work-base.html" %}

{% block summary %}
		<p><span class="tagline">London's Trusted Cat Sitting Community</span> -  Cat in a Flat is a trusted cat-sitting community created by cat lovers for cat lovers. Cat In Flat, a new online community to connect cat owners in London with potential cat-sitters around them in just a few clicks.
		</p>
{% endblock %}

{% block description %}
{#
<div class="wrapper section grey">
	<div class="container">
		<h3>Read about it in the press</h3>
	  <div class="grid-3">		
			<div class="block">
				<a href="http://www.gizmodo.co.uk/2014/06/sainsburys-food-rescue-uses-google-voice-tech-to-curb-wastage/">
					<img src="/static/imgs/press/gizmodo.png" />
				</a>
			</div>
			<div class="block">
			</div>
			<div class="block">
			</div>
		</div>
	</div>
</div>
<div class="wrapper section ">
	<div class="container">
		<div class='col-6'>
			<h3>Our Role</h3>
			<ul>
				<li>Backend</li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class='col-6'>
			<h3>Technologies</h3>
			<ul>
				<li>Python</li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper section grey case-study">
	<div class="container">
		<h3>More about this project </h3>
		<p>Are you a cat lover looking to make some extra cash to put in the kitty? Maybe you’re a cat owner on the hunt for someone to look after your beloved pet while you go on holiday. Well you’re in a luck! Cat in a Flat is a trusted cat-sitting community created by cat lovers for cat lovers.</p>

		<p>We built Cat In Flat, a new online community, to connect cat owners in London with potential cat-sitters. The site’s owners came up with the idea after having trouble finding someone to look after their own kitties.</p> 

		<p>The mission of this project is to help cats stay in the comfort of their own homes by connecting cat owners with trusted, local, cat-loving sitters. To find local cat sitters simply enter your postcode as well as the dates you’ll be away and you will be connected with some lovely local cat sitters. Each sitter has a profile page where you can see their experience, qualifications, criminal record checks, insurance status, belly-rubbing skills, etc.</p>
	</div>
</div>
<div class="wrapper section dark">
	<div class="container">
	  <h3>Questions?</h3>
		<p>If you have any questions about this project or you want our input on a similar project feel free to contact us at <a href="mailto:hello@lostpropertyhq.com">hello@lostpropertyhq.com</a></p>
	</div>
</div>
#}
{% endblock %}


