{% extends "work-base.html" %}

{% block summary %}
		<p><span class="tagline">UK’s most creative graduate scheme</span> - The AMV Academy is the graduate programme of AMV BBDO - the UK's number one agency in film and digital. AMV Academy is a hiring platform built for AMV BBDO to gather applications for their annual graduate programme.
		</p>
{% endblock %}

{% block description %}
<div class="wrapper section grey ">
	<div class="container">
		<div class='col-6'>
			<h3>Our Role</h3>
			<ul>
				<li>Full Build</li>
				<li>Security</li>
				<li>Reporting</li>
				<li>Server architecture</li>
			</ul>
		</div>
		<div class='col-6'>
			<h3>Technologies</h3>
			<ul>
				<li>Python</li>
				<li>Django</li>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper section case-study">
	<div class="container">
		<h3>More about this project </h3>
		<p>The AMV Academy is the graduate programme of AMV BBDO - the UK's number one agency in film and digital. AMV Academy is a hiring platform built for AMV BBDO to gather applications for their annual graduate programme. The graduate scheme is eagerly awaited by thousands of applicants every year as it’s a chance to join a prestigious agency.</p>

		<p>AMV Academy is an engaging job application site which is also optimised for mobile so that editing an application stays easy. Behind the scenes the site has an exhaustive CMS which allows AMV to edit most of the site’s content for each year’s programme.</p>

		<p>When we were first approach by AMV with the concept of the new application site, we quickly provided a prototype to validate the user interaction and concept. It allowed us to move confidently into the design phase with more certainty about the new site.</p>

		<p>The application works in a few simple steps. The user is first welcomed and introduced to the AMV Academy site then has to pick 3 questions to answer as well as providing some information about themselves via a multi-step form. To help the applicant along the way we send them a private link which allows them to amend their application right up until the deadline - as we all know, students tend to do things at the last minute.</p>

		<p>The AMV Academy campaign runs every year but with a new site and new application process we have succeeded in recording a much higher conversion rate and number of completed applications as users come back to edit them.</p>

		<p>At Lost Property we like to empower our clients with tools that make them independent from us. The AMV Academy site includes a CMS giving control over most copy and assets of the site. This allows AMV to reuse the same platform year after year while continuing the keep the content fresh and up to date. Seeing a client being able to reuse our work is something thats make us at Lost Property very happy.</p>

		<p>Alas, handling applicants require plenty of manual work which cannot be automated but we provided AMV data export and reporting features to ease the burden of reviewing applications.</p>

		<p>Lost Property always enjoy working with AMV BBDO and it’s a pleasure to the see the enthusiasm of the site’s applicants. We feel privileged to be involved in a site that makes a difference in the life of so many people who are joining the professional world for the first time.</p>
	</div>
</div>
<div class="wrapper section dark">
	<div class="container">
	  <h3>Questions?</h3>
		<p>If you have any questions about this project or you want our input on a similar project feel free to contact us at <a href="mailto:hello@lostpropertyhq.com">hello@lostpropertyhq.com</a></p>
	</div>
</div>
{% endblock %}


