{% extends "work-base.html" %}

{% block summary %}
		<p><span class="tagline">A WORLD OF ADVENTURE IN YOUR POCKET</span> - Seabeard is a mobile game in which you follow in the footsteps of the great captain Seabeard and discover a giant ocean teeming with islands to explore! Seabeard is a pirate-based adventure game that sees you exploring, trading, fishing, fighting and much more. 
		</p>
{% endblock %}

{% block description %}
<div class="wrapper section grey">
	<div class="container">
		<h3>Read about it in the press</h3>
	  <div class="grid-3">		
			<div class="block">
				<a href="http://toucharcade.com/2014/10/27/hands-on-with-seabeard/">
					<img src="/static/imgs/press/toucharcade.png" />
				</a>
			</div>
			<div class="block">
				<a href="http://www.theverge.com/2014/3/12/5499868/rolando-developer-handcircus-announces-seabeard">
					<img src="/static/imgs/press/verge.png" />
				</a>
			</div>
			<div class="block">
				<a href="http://www.theguardian.com/technology/2014/dec/23/the-best-iphone-and-ipad-games-of-2014?item=nav13">
					<img src="/static/imgs/press/guardian.png" />
				</a>
			</div>
		</div>
	</div>
</div>
<div class="wrapper section ">
	<div class="container">
		<div class='col-6'>
			<h3>Our Role</h3>
			<ul>
				<li>Backend</li>
				<li>Services architecture</li>
			</ul>
		</div>
		<div class='col-6'>
			<h3>Technologies</h3>
			<ul>
				<li>Python</li>
				<li>Pyramid</li>
				<li>SQLAlchemy</li>
				<li>Google App Engine</li>
				<li>Cloud SQL</li>
				<li>Google Datastore</li>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper section grey case-study">
	<div class="container">
		<h3>More about this project </h3>
		<p>Seabeard is a mobile game in which you follow in the footsteps of the great captain Seabeard and discover a giant ocean teeming with islands to explore! It’s a pirate-based adventure game that sees you exploring, trading, fishing, fighting and much more.</p>

		<p>Mobile gaming is a big market where the competition is harsh, once in a while you’ll find a game which pushes the limits even further in terms of gameplay, creativity and adventure. Seabeard is one of those games. When we were approached by Handcircus to build the backend we were very excited. We’ve built web services for many applications before but this was our first large scale game.</p>

		<p>A game such as Seabeard which involves trading and interacting with the game universe and its other players requires a lot of web services. We built a platform which responds quickly with an optimised code base featuring strong security to avoid fraud, not to mention In App purchases, push notifications, strong data integrity, with a fast and lightweight communication protocol.</p>

		<p>At Lost Property we believe in the value of Automated Testing; on Seabeard it was even more crucial to ensure that every aspect of the game was tested and working smoothly. As opposed to a standard web application, identifying an error via a game is much more difficult.</p>

		<p>We loved working with Handcircus and being part of something as big as Seabeard with its millions of users. Seabeard is a project that we will be proud of for a long time and we hope to be able to repeat again within the game industry.</p>

	</div>
</div>
<div class="wrapper section dark">
	<div class="container">
	  <h3>Questions?</h3>
		<p>If you have any questions about this project or you want our input on a similar project feel free to contact us at <a href="mailto:hello@lostpropertyhq.com">hello@lostpropertyhq.com</a></p>
	</div>
</div>
{% endblock %}


