{% extends "work-base.html" %}

{% block summary %}
		<p><span class="tagline">Make your company known and find talent</span> - Theyuse.it gives companies big and small a place to tell the world about the technologies they use and raise their profile in the developer community. It also lets them promote job ads related to specific technology to find that perfect candidate.
		</p>
{% endblock %}

{% block description %}
<div class="wrapper section grey ">
	<div class="container">
		<div class='col-6'>
			<h3>Our Role</h3>
			<ul>
				<li>Full build</li>
				<li>Frontend Development</li>
				<li>Backend Development</li>
				<li>Web services and api development</li>
				<li>Server architecture</li>
				<li>Security</li>
			</ul>
		</div>
		<div class='col-6'>
			<h3>Technologies</h3>
			<ul>
				<li>Python</li>
				<li>Pyramid</li>
				<li>PostgreSQL</li>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper section case-study">
	<div class="container">
		<h3>More about this project </h3>
		<p>Hiring great tech talent is not easy. For a lot of companies this can be compounded by the fact that their core business is not tech-related at all, their technical work goes largely unnoticed no matter how great it may be. You're not going to have developers beating down your door to work with you when they don't even know that you exist let alone that you're doing amazing things with their favourite technology.</p>

		<p>Theyuse.it is an original idea from Lost Property, it gives companies big and small a place to tell the world about the technologies they use and raise their profile in the developer community. It also lets them promote job ads related to specific technology to find that perfect candidate.</p>

		<p>Of course Theyuse.it is not limited solely to companies seeking to attract top talent. If your company is just a staunch believe in a particular technology and want to shout from the rooftops about how productive it makes you then we're here for that too.</p>

		<p>How does it work? Simple, the user signs up with a company email, these make it easier to verify correct ownership, and starts editing their company's page to describe how they use their preferred technologies. Once the company page has been built you can share a private preview of it with the rest of your team to gather feedback. When ready you publish your company profile for the world to see.</p>

		<p>Have you ever wondered what technology powers your favourite site or software? Is your company thinking about developing a new project and want to use a language trending in the industry? Are you a contractor looking for a gig or wondering what technologies you should next master?</p>

		<p>Each member of the team at Lost Property has asked themselves these questions. This site is our attempt to get better, more accurate answers. </p>
	</div>
</div>
<div class="wrapper section dark">
	<div class="container">
	  <h3>Questions?</h3>
		<p>If you have any questions about this project or you want our input on a similar project feel free to contact us at <a href="mailto:hello@lostpropertyhq.com">hello@lostpropertyhq.com</a></p>
	</div>
</div>
{% endblock %}

