#{$all-buttons},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $button-background-color;
  border-radius: $base-border-radius;
  border: solid 2px $button-border-color ;
  color: $button-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: capitalize;

  &:hover,
  &:focus {
    background-color: $blue;
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
